<ion-view view-title="Box Office">
  <ion-content>

    <ion-list>

      <ion-item class="item item-button-right">
        <h2>Daily Chart</h2>
        <button class="button button-clear button-dark">
          <h2>SEE ALL</h2>
        </button>
      </ion-item>

      <div class="row">
        <div class="col col-33">

          <a class="item item-thumbnail-top test-center" href="#">
            <img src="img/cover.jpg" height=100% width=100%>
            <h2>Pretty Hate Machine</h2>
            <h4>Nine Inch Nails</h4>
          </a>

        </div>
        <div class="col col-33">

          <a class="item item-thumbnail-top test-center" href="#">
            <img src="img/cover.jpg" height=100% width=100%>
            <h2>Pretty Hate Machine</h2>
            <h4>Nine Inch Nails</h4>
          </a>

        </div>
        <div class="col col-33">

          <a class="item item-thumbnail-top test-center" href="#">
            <img src="img/cover.jpg" height=100% width=100%>
            <h2>Pretty Hate Machine</h2>
            <h4>Nine Inch Nails</h4>
          </a>

        </div>
      </div>

      <ion-item class="item item-button-right">
        <h2>Weekly Chart</h2>
        <button class="button button-clear button-dark">
          <h2>SEE ALL</h2>
        </button>
      </ion-item>

      <div class="row">
        <div class="col col-33">

          <a class="item item-thumbnail-top test-center" href="#">
            <img src="img/cover.jpg" height=100% width=100%>
            <h2>Pretty Hate Machine</h2>
            <h4>Nine Inch Nails</h4>
          </a>

        </div>
        <div class="col col-33">

          <a class="item item-thumbnail-top test-center" href="#">
            <img src="img/cover.jpg" height=100% width=100%>
            <h2>Pretty Hate Machine</h2>
            <h4>Nine Inch Nails</h4>
          </a>

        </div>
        <div class="col col-33">

          <a class="item item-thumbnail-top test-center" href="#">
            <img src="img/cover.jpg" height=100% width=100%>
            <h2>Pretty Hate Machine</h2>
            <h4>Nine Inch Nails</h4>
          </a>

        </div>
      </div>

      <ion-item class="item item-button-right">
        <h2>Monthly Chart</h2>
        <button class="button button-clear button-dark">
          <h2>SEE ALL</h2>
        </button>
      </ion-item>

      <div class="row">
        <div class="col col-33">

          <a class="item item-thumbnail-top test-center" href="#">
            <img src="img/cover.jpg" height=100% width=100%>
            <h2>Pretty Hate Machine</h2>
            <h4>Nine Inch Nails</h4>
          </a>

        </div>
        <div class="col col-33">

          <a class="item item-thumbnail-top test-center" href="#">
            <img src="img/cover.jpg" height=100% width=100%>
            <h2>Pretty Hate Machine</h2>
            <h4>Nine Inch Nails</h4>
          </a>

        </div>
        <div class="col col-33">

          <a class="item item-thumbnail-top test-center" href="#">
            <img src="img/cover.jpg" height=100% width=100%>
            <h2>Pretty Hate Machine</h2>
            <h4>Nine Inch Nails</h4>
          </a>

        </div>
      </div>


    </ion-list>

  </ion-content>

  <div class="tabs-striped tabs-color-light tabs-background-royal tabs-icon-top">
    <div class="tabs">
      <a class="tab-item" href="#">
        <i class="icon ion-home"></i>
        HOME
      </a>
      <a class="tab-item" href="#/app/profile">
        <i class="icon ion-person"></i>
        Profile
      </a>
      <a class="tab-item" href="#/app/favorite">
        <i class="icon ion-star"></i>
        Favorite
      </a>
      <a class="tab-item active" href="#/app/boxoffice">
        <i class="icon ion-arrow-graph-up-right"></i>
        Box Office
      </a>
    </div>
  </div>
</ion-view>
