<ion-view view-title="Box Office">
  <ion-content>
    <ion-list>

      <ion-item class="item item-button-right">
        <h2>Daily Chart</h2>
        <button class="button button-clear button-dark" ng-click="DD()">
          <h2>{{ Day }}</h2>
        </button>
      </ion-item>

      <div class="{{hideD}}">
        <ion-scroll direction="x" class="wide-as-needed">

          <div class="row">
            <div class="col col-33" ng-repeat="b in boxday">
                <a class="item item-thumbnail-top test-center" href="#/app/showmovie/{{b.imdbID}}">
                  <img src="{{b.Poster}}" height="100%" width="100%"/>
                  <h2>{{b.Title}}</h2>
                  <h4>{{b.Gross}}</h4>
                </a>
              </div>
            </div>
        </div>

        </ion-scroll>
      </div>

      <div class="{{showD}}">
        <ion-scroll direction="y" class="wide-as-needed">

          <div class="row" ng-repeat="b in boxday" ng-if="$index % 2 == 0">
            <div class="col col-50" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="item = boxday[i]">
              <a class="item item-thumbnail-top test-center" href="#/app/showmovie/{{item.imdbID}}">
                <img src="{{item.Poster}}" height="100%" width="100%"/>
                  <h2>{{item.Title}}</h2>
                  <h4>{{item.Gross}}</h4>
              </a>
            </div>
          </div>

        </ion-scroll>
      </div>

      <ion-item class="item item-button-right">
        <h2>Weekly Chart</h2>
        <button class="button button-clear button-dark" ng-click="WW()">
          <h2>{{ Week }}</h2>
        </button>
      </ion-item>
      <div class="{{hideW}}">
        <ion-scroll direction="x" class="wide-as-needed">

          <div class="row">
              <div class="col col-33" ng-repeat="b in boxweek">
                  <a class="item item-thumbnail-top test-center" href="#/app/showmovie/{{b.imdbID}}">
                    <img src="{{b.Poster}}" height="100%" width="100%"/>
                    <h2>{{b.Title}}</h2>
                    <h4>{{b.Gross}}</h4>
                  </a>
                </div>
              </div>
          </div>

        </ion-scroll>
      </div>

      <div class="{{showW}}">
        <ion-scroll direction="y" class="wide-as-needed">

            <div class="row" ng-repeat="b in boxweek" ng-if="$index % 2 == 0">
                <div class="col col-50" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="item = boxweek[i]">
                  <a class="item item-thumbnail-top test-center" href="#/app/showmovie/{{item.imdbID}}">
                    <img src="{{item.Poster}}" height="100%" width="100%"/>
                      <h2>{{item.Title}}</h2>
                      <h4>{{item.Gross}}</h4>
                  </a>
                </div>
              </div>

        </ion-scroll>
      </div>

      <ion-item class="item item-button-right">
        <h2>Monthly Chart</h2>
        <button class="button button-clear button-dark" ng-click="MM()">
          <h2>{{ Month }}</h2>
        </button>
      </ion-item>

      <div class="{{hideM}}">
        <ion-scroll direction="x" class="wide-as-needed">

          <div class="row">
              <div class="col col-33" ng-repeat="b in boxmonth">
                  <a class="item item-thumbnail-top test-center" href="#/app/showmovie/{{b.imdbID}}">
                    <img src="{{b.Poster}}" height="100%" width="100%"/>
                    <h2>{{b.Title}}</h2>
                    <h4>{{b.Gross}}</h4>
                  </a>
                </div>
              </div>
          </div>

        </ion-scroll>
      </div>

      <div class="{{showM}}">
        <ion-scroll direction="y" class="wide-as-needed">

            <div class="row" ng-repeat="b in boxmonth" ng-if="$index % 2 == 0">
                <div class="col col-50" ng-repeat="i in [$index, $index + 1, $index + 2]" ng-init="item = boxmonth[i]">
                  <a class="item item-thumbnail-top test-center" href="#/app/showmovie/{{item.imdbID}}">
                    <img src="{{item.Poster}}" height="100%" width="100%"/>
                      <h2>{{item.Title}}</h2>
                      <h4>{{item.Gross}}</h4>
                  </a>
                </div>
              </div>

        </ion-scroll>
      </div>
    </ion-list>
  </ion-content>

  <ion-footer-bar
    class="tabs-striped tabs-color-light tabs-background-royal tabs-icon-top"
  >
    <div class="tabs">
      <a class="tab-item" href="#" nav-transition="none">
        <i class="icon ion-home"></i> HOME
      </a>
      <a class="tab-item" href="#/app/favorite" nav-transition="none">
        <i class="icon ion-star"></i> Favorite
      </a>
      <a class="tab-item active" href="#/app/boxoffice" nav-transition="none">
        <i class="icon ion-arrow-graph-up-right"></i> Box Office
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
