<ion-view view-title="Box Office">
    <ion-content>

      <div class="list">
        <div class="item item-button-right">
          <h2>Daily Chart</h2>
          <button class="button button-clear button-dark">
            <h2>SEE ALL</h2>
          </button>
        </div>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h3>Pretty Hate Machine</h3>
          <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h3>Pretty Hate Machine</h3>
          <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h3>Pretty Hate Machine</h3>
          <p>Nine Inch Nails</p>
        </a>

        <div class="item item-button-right">
          <h2>Weekly Chart Chart</h2>
          <button class="button button-clear button-dark">
            <h2>SEE ALL</h2>
          </button>
        </div>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h3>Pretty Hate Machine</h3>
          <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="img/cover.jpg" width="160" height="160">
          <h3>Pretty Hate Machine</h3>
          <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h3>Pretty Hate Machine</h3>
          <p>Nine Inch Nails</p>
        </a>

        <div class="item item-button-right">
          Monthly Chart
          <button class="button button-clear button-dark">
            SEE ALL
          </button>
        </div>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h3>Pretty Hate Machine</h3>
          <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h3>Pretty Hate Machine</h3>
          <p>Nine Inch Nails</p>
        </a>

        <a class="item item-thumbnail-left" href="#">
          <img src="cover.jpg">
          <h3>Pretty Hate Machine</h3>
          <p>Nine Inch Nails</p>
        </a>

      </div>

    </ion-content>
    <div class="tabs-striped tabs-color-light tabs-background-royal tabs-icon-top" >
            <div class="tabs">
              <a class="tab-item" href="#">
                <i class="icon ion-home"></i>
                HOME
              </a>
              <a class="tab-item" href="#/app/profile">
                <i class="icon ion-person"></i>
                Profile
              </a>
              <a class="tab-item" href="#/app/favorite">
                <i class="icon ion-star"></i>
                Favorite
              </a>
              <a class="tab-item active" href="#/app/boxoffice">
                <i class="icon ion-arrow-graph-up-right"></i>
                Box Office
              </a>
            </div>
          </div>
  </ion-view>
