<ion-view view-title="Favorite">
    <ion-content>
		
		<div class="text-center"><h1>MY FAVORITE MOVIE</h1></div>
		<a class="item" ng-repeat="r in favlist" href="#/app/showmovie/{{r.imdbID}}">
      <div class="row">
      <div class="col col-33">
      <img ng-if="r.Poster != 'N/A' " src="{{r.Poster}}" class="poster-search">
      <img ng-if="r.Poster == 'N/A' " src="img/no-image-icon-23500.jpg" class="poster-search">
      </div>
      <div class="col col-50">
      <h2>{{r.Title}}</h2>
      <p>({{r.Year}})</p>
      </div>
      <div class="col col-10 text-right">
          <h1><i class="icon ion-trash-a"></i></h1>
          </div>
    </div>
    </a>

		
    </ion-content>
    <div class="tabs-striped tabs-color-light tabs-background-royal tabs-icon-top" >
            <div class="tabs">
              <a class="tab-item" href="#" nav-transition="none">
                <i class="icon ion-home"></i>
                HOME
              </a>
              <a class="tab-item" href="#/app/profile" nav-transition="none">
                <i class="icon ion-person"></i>
                Profile
              </a>
              <a class="tab-item active" href="#/app/favorite" nav-transition="none">
                <i class="icon ion-star"></i>
                Favorite
              </a>
              <a class="tab-item" href="#/app/boxoffice" nav-transition="none">
                <i class="icon ion-arrow-graph-up-right"></i>
                Box Office
              </a>
            </div>
          </div>
  </ion-view>
  