<ion-view view-title="Favorite">
    <ion-content>
		
		<label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
		<ion-list>
          <ion-list can-swipe="true">
          	<ion-item  item-width="'100%'" item-height="100%" href="#" class="item-thumbnail-left" hold-list>
          		<img src="https://m.media-amazon.com/images/M/MV5BNjk1Njk3YjctMmMyYS00Y2I4LThhMzktN2U0MTMyZTFlYWQ5XkEyXkFqcGdeQXVyODM2ODEzMDA@._V1_.jpg" >
          		<h2>Dead Pool2</h2>
          		<h4>18 May 2018 (USA) </h4>
          		<ion-option-button class="button-assertive icon ion-trash-a">Delete</ion-option-button>
          	</ion-item>
          </ion-list>
        </ion-list>
		
    </ion-content>
    <ion-footer-bar class="tabs-striped tabs-color-light tabs-background-royal tabs-icon-top" >
            <div class="tabs">
              <a class="tab-item" href="#" nav-transition="none">
                <i class="icon ion-home"></i>
                HOME
              </a>
              <a class="tab-item" href="#/app/profile" nav-transition="none">
                <i class="icon ion-person"></i>
                Profile
              </a>
              <a class="tab-item active" href="#/app/favorite" nav-transition="none">
                <i class="icon ion-star"></i>
                Favorite
              </a>
              <a class="tab-item" href="#/app/boxoffice" nav-transition="none">
                <i class="icon ion-arrow-graph-up-right"></i>
                Box Office
              </a>
            </div>
          </ion-footer-bar>
  </ion-view>
