<ion-view view-title="Favorite">
  <ion-content>
    <ion-list can-swipe="true">
      <ion-item
        item-width="'100%"
        item-height="100%"
        ng-repeat="r in favlist"
        href="#/app/showmovie/{{r.imdbID}}"
        class="item-thumbnail-left"
        hold-list
      >
        <img src="{{r.Poster}}" height="100%" width="100%" />
        <h2>{{ r.Title }}</h2>
        <p>({{ r.Year }})</p>
        <ion-option-button
          class="button-assertive icon ion-trash-a"
          ng-click="delfav($index)"
          >Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div
    class="tabs-striped tabs-color-light tabs-background-royal tabs-icon-top"
  >
    <div class="tabs">
      <a class="tab-item" href="#" nav-transition="none">
        <i class="icon ion-home"></i> HOME
      </a>

      <a class="tab-item active" href="#/app/favorite" nav-transition="none">
        <i class="icon ion-star"></i> Favorite
      </a>
      <a class="tab-item" href="#/app/boxoffice" nav-transition="none">
        <i class="icon ion-arrow-graph-up-right"></i> Box Office
      </a>
    </div>
  </div>
</ion-view>
