<ion-view view-title="ViewMovie">
    <ion-content>
		<div class="list card">

            <div class="item text-center">
              
              <h2>{{moviedetail.Title}}</h2>
              
            </div>
          
            <div class="item item-body">
              <img class="full-image" src="{{moviedetail.Poster}}">
              <h2>Plot</h2>
              <p>
                    {{minplot}}
                    
              </p>
              <a ng-click="seemore()">{{seeText}}</a>
              <p>
                
              </p>
            </div>
          
          </div>
	</ion-content>
  </ion-view>
  